<?xml version="1.0"?>

<appSettings>
  <add key="WechatAppId" value="wxdebf3e2511cf03f7" />
  <add key="WechatSecret" value="XXXXXXXXXXXXXXXXXXXXXXXXXXXXXX" />

  <add key="WechatAccessTokenUrl"
       value="https://api.weixin.qq.com/cgi-bin/token?grant_type=client_credential&amp;appid={0}&amp;secret={1}" />
  <add key="WechatTicketGeneratorUrl"
       value="https://api.weixin.qq.com/cgi-bin/ticket/getticket?type=jsapi&amp;access_token={0}" />
  <add key="WechatOAuthRenewPathUrl" 
      value="https://api.weixin.qq.com/sns/oauth2/access_token?appid={0}&amp;secret={1}&amp;code={2}&amp;grant_type=authorization_code"/>
  <add key="WechatGetUserInfoUrl"
       value="https://api.weixin.qq.com/sns/userinfo?access_token={0}&amp;openid={1}&amp;lang=zh_CN"/>
</appSettings>